[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thdghgns
[access "refs/for/refs/*"]
	read = group user/thdghgns
	push = group user/thdghgns
	label-Code-Review = -2..+2 group user/thdghgns
	label-Verified = -1..+1 group user/thdghgns
	rebase = group user/thdghgns
	removeReviewer = group user/thdghgns
	submit = group user/thdghgns
[access "refs/heads/*"]
	read = group user/thdghgns
	create = group user/thdghgns
	push = +force group user/thdghgns
	pushMerge = group user/thdghgns
[access "refs/tags/*"]
	push = group user/thdghgns
	push = +force group user/thdghgns
