/* notice css */
.divTable {
	display: table;
	width: 100%;
	padding-bottom: 30px;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border-bottom: 1px solid #5CD1E5;
	display: table-cell;
	padding: 5px 10px;
	color: #686868;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

div.orderCell.divTableCell {
	width: 5%;
}

div.cityCell.divTableCell {
	width: 5%;
}

div.subjectCell.divTableCell {
	width: 5%;
}

div.titleCell.divTableCell {
	width: 50%;
}

div.dateCell.divTableCell {
	width: 5%;
}

div.writerCell.divTableCell {
	width: 5%;
}

div.hitsCell.divTableCell {
	width: 5%;
}

.search-notice i {
	color: #00aeef;
	cursor: pointer;
	right: 70;
	top: 2px;
}

.navbar-nav.post-nav li {
	margin-right: 30px;
}
/* top menu*/
#top-menus{
    left: 25% !important;
}

.top-menu{
	padding: 2px 15px 2px 15px !important; 
	font-size: 22;
}

#current-user{
	font-size: 12;
	color: #524e5f;
}
/* top menu*/

/* Dropdown LoginID Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 10pt;
}

.dropdown-content a {
    color: #686868;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Dropdown LoginID Menu */
